.elementor-65
  .elementor-element.elementor-element-158bc9de
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-65 .elementor-element.elementor-element-158bc9de {
  overflow: hidden;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--e-global-color-df1aab3);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  z-index: 5;
}
.elementor-65
  .elementor-element.elementor-element-158bc9de:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-65
  .elementor-element.elementor-element-158bc9de
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background: linear-gradient(to right, #8d4af2, #4d9dc2, #10ea8d);
}
.elementor-65
  .elementor-element.elementor-element-158bc9de
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-65
  .elementor-element.elementor-element-717dac73
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-65 .elementor-element.elementor-element-3f66984d {
  text-align: left;
}
.elementor-65 .elementor-element.elementor-element-3f66984d img {
  width: 100%;
  max-width: 175px;
}
.elementor-65
  .elementor-element.elementor-element-3f66984d
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-65
  .elementor-element.elementor-element-23a9a589
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 16px;
}
.elementor-65
  .elementor-element.elementor-element-23a9a589
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 16px;
}
.elementor-65 .elementor-element.elementor-element-23a9a589 .elementor-button {
  font-family: "IBM Plex Sans", Sans-serif;
  fill: #000000;
  color: #000000;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 8px 16px 8px 16px;
}
@media (max-width: 1024px) {
  .elementor-65 .elementor-element.elementor-element-158bc9de {
    padding: 0px 32px 0px 32px;
  }
  .elementor-65
    .elementor-element.elementor-element-56fc6bf1
    > .elementor-element-populated {
    padding: 0px 0px 0px 16px;
  }
  .elementor-65 .elementor-element.elementor-element-3f66984d img {
    max-width: 135px;
  }
}
@media (max-width: 767px) {
  .elementor-65 .elementor-element.elementor-element-158bc9de {
    padding: 0px 16px 0px 16px;
  }
  .elementor-65 .elementor-element.elementor-element-3f358eeb {
    width: 50%;
  }
  .elementor-65 .elementor-element.elementor-element-56fc6bf1 {
    width: 78%;
  }
  .elementor-65
    .elementor-element.elementor-element-56fc6bf1
    > .elementor-element-populated {
    padding: 0px 0px 0px 8px;
  }
  .elementor-65 .elementor-element.elementor-element-3f66984d img {
    max-width: 100px;
  }
  .elementor-65 .elementor-element.elementor-element-2a1dea7e {
    width: 50%;
  }
  .elementor-65
    .elementor-element.elementor-element-23a9a589
    .elementor-button {
    padding: 8px 12px 8px 12px;
  }
}
@media (min-width: 768px) {
  .elementor-65 .elementor-element.elementor-element-3f358eeb {
    width: 80%;
  }
  .elementor-65 .elementor-element.elementor-element-2a1dea7e {
    width: 20%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-65 .elementor-element.elementor-element-3f358eeb {
    width: 70%;
  }
  .elementor-65 .elementor-element.elementor-element-56fc6bf1 {
    width: 90%;
  }
  .elementor-65 .elementor-element.elementor-element-2a1dea7e {
    width: 30%;
  }
}
